body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #e68a00;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }

  footer {
    background-color: #e68a00;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .container {
    width: 100%; 
    background-color: #ddd; 
  }
  
  .skills {
    text-align: right;
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
  }
  
  .python {width: 90%; background-color: #1504aa;} 
  .java {width: 80%; background-color: #39aa04;} 
  .c {width: 85%; background-color: #aa046a;} 
  .html {width: 90%; background-color: #04AA6D;} 
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 75%; background-color: #f44336;}
  .reactjs {width: 60%; background-color: #808080;} 
  .sql {width: 90%; background-color: #aa0444;} 
  .ds {width: 90%; background-color: #8caa04;} 